name: check_code_quality
on: pull_request
jobs:
  mon_job_black:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.13
      - run: |
          python -m pip install --upgrade pip
          pip install black
      - uses: psf/black@stable